{% extends "layout.html" %}
{% block body %}<!--As you can see, i use this structure again based on layout file-->
<h3>About Me</h3>
<hr>
<p>
    Hi im Helen Gençay. Im 18 years old student.
    Im study on computer programming in Eskisehir Technical University.
    I interested in Cyber Security and Programming. For now im at the beginning on journey of my goals.
    This is my first website i hope that can inspire you about trying something and keep going.
    <br><br>9 December 2021
</p>
<hr>
{%endblock%}