<!--This file which we use for get inheritence from layout for execute on python code. Actually i want to show you something-->
{% extends "layout.html" %}<!--This line of code used for get inheritence from layout file -->
{% block body %}<!-- And this structure allows us to make changes on layout (we added this structure on layout to but empty)-->
<div class="jumbotron text-center" style=background-color:transparent>
    <h3 style="text-color:#000000">Welcome to RedKoi Blog Site!</h3>
    <p>You can share anything what you want to show everyone.</p>

</div>

{% endblock %}